/**
 * Site header
 */
.site-header {
    background: $brand-color;
    background-image: url("../assets/IMG_1575.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($on-laptop) {
        min-height: 140px;
    }
}

.site-title {
    float: right;
    font-size: 48px;
    font-weight: $bold-font-weight;
    line-height: 240px;
    margin-bottom: 0;
    text-shadow: 0 0 $spacing-unit / 2 $grey-color-dark;

    @include media-query($on-laptop) {
        font-size: 36px;
        line-height: 140px;
    }

    @include media-query($on-palm) {
        display: inline-block;
        float: none;
        font-size: 28px;
        line-height: 100%;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    &,
    &:visited,
    &:hover {
        color: $background-color;
        text-decoration: none;
    }
}

.site-image {
    float: left;

    img {
        border-radius: 120px;
        box-shadow: 0 0 $spacing-unit / 2 $grey-color-dark;
        height: 200px;
        margin-top: 20px;
    }

    @include media-query($on-laptop) {
        height: 100px;

        img {
            height: 100px;
        }
    }

    @include media-query($on-palm) {
        display: block;
        height: 140px;
        text-align: center;
        width: 100%;

        img {
            float: none;
            height: 100px;
            margin: 20px auto;
            text-align: center;
            width: 100px;
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        background-color: $brand-color;
        border-radius: 5px;
        border: 1px solid $background-color;
        position: absolute;
        right: $spacing-unit / 2;
        text-align: right;
        top: 9px;

        .menu-icon {
            display: block;
            float: right;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            width: 36px;

            > svg {
                height: 15px;
                width: 18px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }

            margin-left: 20px;
        }
    }
}

.site-heading {
    text-transform: uppercase;
    font-weight: normal;
    font-size: $small-font-size;

    i {
        margin-right: $spacing-unit / 4;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}
