.project-list {
    list-style-type: none;
    margin: 0;
}

.project {
    font-size: $base-font-size;
    line-height: $base-line-height;

    &-col-wrapper {
    }

    &-col {
        float: left;
        margin-bottom: $spacing-unit / 2;
    }

    &-col-1 {
        margin-right: $spacing-unit / 2;
        width: -webkit-calc(75% - (#{$spacing-unit} / 2));
        width:         calc(75% - (#{$spacing-unit} / 2));
    }

    &-col-2 {
        border-left: 1px solid $grey-color-light;
        padding-right: 0;
        text-align: right;
        width: -webkit-calc(25%);
        width:         calc(25%);
    }

    @include media-query($on-palm) {
        &-col {
            border: none;
            float: none;
            text-align: left;
            width: -webkit-calc(100%);
            width:         calc(100%);
        }
    }

    &-title {
        font-size: 28px;
        font-weight: $bold-font-weight;
        margin: 0 0 $spacing-unit / 2 0;

        @include media-query($on-palm) {
            font-size: 22px;
        }
    }

    &-link:hover {
        text-decoration: none;
    }

    &-image {
        margin-bottom: $spacing-unit / 2;
        max-width: 100%;
    }

    &-heading {
        display: block;
        font-size: $small-font-size;
        font-weight: normal;
        margin: 0 0 $spacing-unit / 4 0;
        text-transform: uppercase;

        @include media-query($on-palm) {
            border-bottom: 1px solid $grey-color-light;
            padding-bottom: $spacing-unit / 4;
        }

        i {
            margin-right: $spacing-unit / 4;
        }
    }

    &-tools {
        list-style-type: none;
        margin: 0;

        @include media-query($on-palm) {
            li {
                display: inline;
            }

            li:after {
                content: ',';
            }
        }
    }
}
