@import "tailwindcss";

@theme {
  --color-gray-950: #0a0a0a;
}

@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-gray-50 dark:bg-gray-900;
}

@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }

  html {
    font-size: 10px;
  }

  body {
    min-height: 0;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
